In [1]:
my_list=[1,2,3,4,5]

In [2]:
my_list.append(34)

In [3]:
my_list

[1, 2, 3, 4, 5, 34]

In [4]:
def name_of_function(name):
    return("Hello" + " " + name)

In [5]:
name_of_function("siddharth")

'Hello siddharth'

In [6]:
def add_func(num1,num2):
    print (num1+num2)

In [7]:
A=add_func(2,3)

5

In [8]:
print(A)

None

In [9]:
def say_hello(name="siddharth"):
    return(f"Hello {name}, How are you!")

In [10]:
say_hello()

'Hello siddharth, How are you!'

In [11]:
a=say_hello()

In [12]:
a

'Hello siddharth, How are you!'

In [13]:
def add_num(num1,num2):
    return num1+num2

In [14]:
add_num("sidd","vishen")

'siddvishen'

In [15]:
type(add_num)

function

In [16]:
 34%34

0

In [17]:
def even_check(num1):
    if num1%2==0:
        print("Even")
    else:
        print("ODD")

In [18]:
even_check(25)

ODD

In [19]:
def even_check_list(userlist):
    even_list=[]
    for i in userlist:
        if i%2==0:
            even_list.append(i)
            print("even")
        else:
            print("odd")
            
    print(even_list)

In [20]:
even_check_list([1,2,3,4,5,6,19,20,44,42,22,66])

odd
even
odd
even
odd
even
odd
even
even
even
even
even
[2, 4, 6, 20, 44, 42, 22, 66]

In [21]:
stock_prices=[('apple',200),('google',400),('msft',600),('mi',800)]

In [22]:
for item,ticker in stock_prices:
    print(item)

apple
google
msft
mi

In [23]:
work_hours=[('sid',100),('vishen',200),('amit',50),('joose',70),('is',800),('li',550)]

In [24]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
    return(employee_of_month,current_max)

In [25]:
employee_check(work_hours)

('is', 800)

In [26]:
name,hours=employee_check(work_hours)

In [27]:
name

'is'

In [28]:
hours

800

In [29]:
example=[1,2,3,4,5,6,7,8]
from random import shuffle
shuffle(example)

In [30]:
example

[6, 2, 4, 5, 3, 7, 8, 1]

In [31]:
example

[6, 2, 4, 5, 3, 7, 8, 1]

In [32]:
def shuffle_list(example):
    shuffle(example)
    return example

In [33]:
result=shuffle_list(example)

In [34]:
result

[5, 4, 2, 3, 8, 1, 7, 6]

In [35]:
#  For making this game we need three functions.
# Function for shuffling
# function for number guess
# function for answer check

In [36]:
def shuffle_list(example):
    shuffle(example)
    return example

In [37]:
example=['','o','']

In [38]:
shuffled_list=shuffle_list(example)
print(shuffled_list)

['o', '', '']

In [39]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess=input("pick a number:'0','1','2'.")
    return int(guess)

In [40]:
guess=player_guess()

pick a number:'0','1','2'.0

In [41]:
print(guess)

0

In [42]:
def check_answer(shuffled_list,guess):
    if shuffled_list[guess]=='o':
        print("You won")
    else:
        print("Wrong Guess,You Lose!")
    print(shuffled_list)

In [43]:
check_answer(shuffled_list,guess)

You won
['o', '', '']

In [44]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [45]:
def sum_num(a,b):
    return a+b

In [46]:
A=sum_num(4,5)

In [47]:
A

9

In [ ]:
def divide_num(A,B):
    return A*B

In [ ]:
divide_num(A,B)

In [3]:
def myfunc(a,b):
    return sum((a,b))*.05

In [4]:
myfunc(40,60)

5.0

In [12]:
a=[23,45,56,78,87,34,23,67,45,2,2,3,5,77,66,55,11,121,232,453,65]

In [51]:
def myfunc1(*value):
    print(value)

myfunc1("siddharth","vishen","sid")
a=myfunc1

('siddharth', 'vishen', 'sid')

In [34]:
myfunc1("siddharth","vishen","sid")
a=myfunc1

('siddharth', 'vishen', 'sid')

In [46]:
def myfunc(a):
    print(a)

In [52]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit')

In [54]:
myfunc(fruits='apple')

I did not find any fruit

In [65]:
def myfunc22(*value,**data):
    print("I would like to take {} {}".format(value[0],data['food']))

In [66]:
myfunc22(10,34,33,55,77,food='eggs',flower='rose')

I would like to take 10 eggs

In [67]:
def myfunc(*value):
    return sum(value)

In [69]:
myfunc(12,23,3,55,66,77,88,99,22,1234)

1679

In [79]:
# Function to take even numbers from an arbitrary number of arguments
def myfunc(*value):
    data=[]
    for i in value:
        if i %2==0:
            data.append(i)
        else:
            pass
    return data

In [80]:
myfunc(2,4,5,6,7,12,8,15,20,33,37,98,100)

[2, 4, 6, 12, 8, 20, 98, 100]

In [81]:
a="siddharth"

In [82]:
a

'siddharth'

In [87]:
a[1].upper()

'I'

In [14]:
def myfunc(value):
    a=[]
    for i in range(len(value)):
        if i%2==0:
            a.append(value[i].upper())
        else:
            a.append(value[i].lower())
    return a

In [15]:
myfunc("siddharth")

['S', 'i', 'D', 'd', 'H', 'a', 'R', 't', 'H']

In [100]:
value='siddharth'
for i in range(len(value)):
    print(i)

0
1
2
3
4
5
6
7
8

In [102]:
a=['s','d','d','h','a','r','t','h']

In [103]:
b=''.join(a)

In [104]:
b

'sddharth'

In [107]:
def less_num(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    elif a%2==0 or b%2==0:
        if a>b:
            return a
        else:
            return b

In [116]:
less_num(2,4)

2

In [146]:
#To check wheter the first digit of two numbers are same or not
def animal_check(a,b):
    if a[0]==b[0]:
        return True
    else:
        return False

In [147]:
animal_check("dog","cat")

False

In [145]:
def animal_check(a,b):
    for i in range(len(a)):
        x=a[i]
    for j in range(len(b)):
        y=b[j]
    if x==y:
        return True
    else:
        return False

In [153]:
r="siddharth vishen"
d=r.split()

In [154]:
d

['siddharth', 'vishen']

In [157]:
b=d[1][0]

In [158]:
b

'v'

In [179]:
def makes_twenty(n1,n2):
   return (n1+n2)==20 or n1==20 or n2==20

In [183]:
makes_twenty(12,8)

True

In [31]:
# Level One Functions Python

def upper_w(name):
    name_upper=[]
    for i in range(len(name)):
        if i==0:
            name_upper.append(name[i].upper())
        elif i==3:
             name_upper.append(name[i].upper())
           
        else:
            name_upper.append(name[i])
    return "".join(name_upper)

In [32]:
upper_w('macdonald')

'MacDonald'

In [33]:
def myfunc(value):
    a=[]
    for i in range(len(value)):
        if i%2==0:
            a.append(value[i].upper())
        else:
            a.append(value[i].lower())
    return a

In [101]:
# Function that can reverse the sentence or word:
def rev_word(word):
    a=word.split()
    b=a[::-1]
    print(" ".join(b))

In [102]:
rev_word('I am home')

home am I

In [ ]:
def num_33(nums):
    for i in nums:
        if

In [116]:
num=[1,2,3,3,4,5,6,6]
for i in range(len(num)):
    if num[i]==3:
        if num[i+i]==3:
            print(True)

In [117]:
def square(num):
    return num**2

In [120]:
num_list=[1,2,3,4,5,6,7]

In [123]:
map(square,num_list)

In [127]:
for item in map(square,num_list):
    print(item)

1
4
9
16
25
36
49

In [129]:
a=list(map(square,num_list))

In [130]:
a

[1, 4, 9, 16, 25, 36, 49]

In [144]:
def even_check(num):
     if num%2==0:
            return True

In [145]:
my_list=[1,2,3,4,5,6,7,8,10]

In [146]:
filter(even_check,my_list)

In [147]:
list(filter(even_check,my_list))

[2, 4, 6, 8, 10]

In [148]:
square=lambda num:num**2

In [149]:
square(9)

81

In [151]:
 even=lambda num:if num%2==0

SyntaxError: invalid syntax (<ipython-input-151-251a15bc50a6>, line 1)

In [175]:
# The below codes shows concept of Global & Local & Namespace

In [171]:
x=50
def func():
    global x
    x=25
    print(f"x is {x}")
    
    x="new value"
    print(f" x is {x}")

In [173]:
func()

x is 25
 x is new value

In [174]:
print(x)

new value

In [176]:
# iNeuron Python Functions

In [222]:
def test():
    return "This is my first function"

In [223]:
b=test()

In [224]:
def greet(name,sid):
    print(f"My name is {name}")
    print(b)

In [227]:
greet('siddharth',sid)

My name is siddharth
This is my first function

In [228]:
print(b)

This is my first function

In [229]:
def Test():
    return 13444

In [231]:
type(Test())

int